{% extends 'base_homepage.html' %}


{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />
    <title>Assessments</title>
    <link href="assignment_dash.css" type="text/css" rel="stylesheet" \>     
{% endblock %}

{% block body %}
<div class="navbar-body">
    <div class="left">
        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('homepage') }}">Home</a></li>
                <li><a class="active" href="{{ url_for('assessments') }}">Assessments</a></li>
                <li><a href="{{ url_for('study_mode') }}">Study Mode</a></li>
                <li><a href="#settings">Settings</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-assessment">
    <div class="middle">
        <div class="calendar">
            <h1>Assignment Dashboard</h1>
            <p style="font-size: 20px;" >
                <a href= "{{ url_for('create_assessment') }}"> Create a new assignment</a>
            </p>
            <input class= "del_button" type="button" name="delete" value="Delete" />   <!--Delete button-->

<!--Tables-->
    <h3 class="high"> High Priotity </h3>
    <table class="center">
        <tr>
            <th class="name"> Name </th>
            <th class="delete"> Delete </th>
            <th class="edit"> Edit </th>
        </tr>
        <tr>
            <td>Homework 5</td>
            <td style="text-align: center;"> <input type="radio" name="delete" value="delete" /> 
            </td>
            <td style="text-align: center;">Edit</td>
        </tr>  
        <tr>
            <td>Team Project</td>
            <td style="text-align: center;"> <input type="radio" name="delete" value="delete" /> 
            </td>
            <td style="text-align: center;">Edit</td>
        </tr>
        <tr>
            <td></td>
        <td style="text-align: center;"> <input type="radio" name="delete" value="delete" /> 
               </td>
        <td style="text-align: center;">Edit</td>
    </tr>

</table>

<!--MEDIUM PRIORITY-->

    <h3 class="center"> Medium Priotity </h3>

<table class="center">
    <tr>
        <th class="name"> Name </th>
        <th class="delete"> Delete </th>
        <th class="edit"> Edit </th>
    </tr>
    <tr>
        <td>Test</td>
        <td style="text-align: center;"> <input type="radio" name="delete" value="delete" /> 
               </td>
        <td style="text-align: center;">Edit</td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align: center;"> <input type="radio" name="delete" value="delete" /> 
               </td>
        <td style="text-align: center;">Edit</td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align: center;"> <input type="radio" name="delete" value="delete" /> 
               </td>
        <td style="text-align: center;">Edit</td>
    </tr>

</table>


<!--LOWER PRIORITY-->

    <h3 class="center"> Lower Priotity </h3>

<table class="center">
    <tr>
        <th class="name"> Name </th>
        <th class="delete"> Delete </th>
        <th class="edit"> Edit </th>
    </tr>
    <tr>
        <td>Sleep</td>
        <td style="text-align: center;"> <input type="radio" name="delete" value="delete" /> 
               </td>
        <td style="text-align: center;">Edit</td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align: center;"> <input type="radio" name="delete" value="delete" /> 
               </td>
        <td style="text-align: center;">Edit</td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align: center;"> <input type="radio" name="delete" value="delete" /> 
               </td>
        <td style="text-align: center;">Edit</td>
    </tr>

</table>

</div>
{% endblock %}