{% extends 'base_homepage.html' %}

{% block head %}
    <title> Homework Helper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_assessment.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
{% endblock %}
{% block body %}
<div class="navbar-body">
    <div class="left">
        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('homepage') }}">Home</a></li>
                <li><a class="active" href="{{ url_for('assignment_dash') }}">Assessments</a></li>
                <li><a href="{{ url_for('study_mode') }}">Study Mode</a></li>
                <li><a href="{{ url_for('settings') }}">Settings</a></li>
                <li><a href="{{ url_for('log_out') }}">Log Out</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-body">
    <h1 style="text-align: center;"> Assignment Dashboard</h1>
    <p style="font-size: 20px;" >
        <a href= "{{ url_for('create_assessment') }}"> Create a new assignment</a>
    </p>
    <div class="container">
        <div class = "box2-container">
            <div class="box2">
                <!-- Update events dynamically using JavaScript -->
                <div class="event1">
                    <div class="event2" id="highPriorityEvents"></div>
                </div>
                <div class="event1">
                    <div class="event2" id="mediumPriorityEvents"></div>
                </div>
                <div class="event1">
                    <div class="event2" id="lowPriorityEvents"></div>
                </div>
                <div class="event1">
                    <div class="event2" id="naPriorityEvents"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% for message in get_flashed_messages() %}
<div class="alert" role="alert" style="color: black; font-size: 25px;">{{ message }}</div>
{% endfor %}
<script src="{{ url_for('static', filename = 'JS/assignment_dash.js') }}"></script>
{% endblock %}
<!--
<div class="event1">
    <span class="label">High Priority Assessments </span>
    <div class="event2">
        <div class="bullet">
            <y class="fas fa-circle"></y>
        </div>
        <div class="assessment">
            <span class="value">Username: </span>
        </div>
        <div class="actions">
            <span class="options">
                <a href="{{ url_for('edit_assessment') }}"><i class="fas fa-edit"></i></a>
                <a href="{{ url_for('delete_assessment') }}"><i class="fas fa-trash-alt"></i></a>
            </span>
        </div>
    </div>
</div>
function getActiveDay(date) {
    const day = new Date(year, month, date);
    const dayName = day.toString().split(" ")[0];
    eventDay.innerHTML = dayName;
    eventDate.innerHTML = date + " " + months[month] + " " + year;
}
                    priorityEvents.forEach(event => {
                        var color = '';
                        if (eventsArr[i] [5] === 'Low') {
                            color = 'yellow';
                        } else if (eventsArr[i] [5] === 'Medium') {
                            color = 'orange';
                        } else if (eventsArr[i] [5] === 'High'){
                            color = 'red';
                        } //if N/A it'll just be the same color as the event=descripon and title
 style="color: ${color};-->