{% extends 'base_homepage.html' %}


{% block head %}
        <title>Create Assessments</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/create_assessment.css') }}">

{% endblock %}
{% block body %}
<div class="navbar-body">
    <div class="left">
        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('homepage') }}">Home</a></li>
                <li><a class="active" href="{{ url_for('assignment_dash') }}">Assessments</a></li>
                <li><a href="{{ url_for('study_mode') }}">Study Mode</a></li>
                <li><a href="{{ url_for('settings') }}">Settings</a></li>
                <li><a href="{{ url_for('log_out') }}">Log Out</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Creating a form  with jinja formatting-->
<div class="container-body">   
    <h1 style="padding-bottom: 25px;">Edit your Assessment</h1>
    <div class="box">
        <form action="{{ url_for('edit_assessment', id=id) }}" method="post">
            {{ form.hidden_tag() }}
        
            {{ form.title.label }}
            <div class="spacer"></div>
            {{ form.title(class="form-control", value=assignment_to_edit[3]) }}
            <div class="spacer"></div>

            {{ form.description.label }}
            <div class="spacer"></div>
            {{ form.description(class="form-control", value=assignment_to_edit[4], style='height: 150px; width: 100%; resize: none; limit: 300;') }}
            <div class="spacer"></div>
        
            {{ form.date.label}}
            <div class="spacer"></div>
            {{ form.date(class="form-control", value=assignment_to_edit[0, 1, 2]) }}
            <div class="spacer"></div>
        
            {{ form.priority.label }}
            <div class="spacer"></div>
            {{ form.priority(class="form-control", value=assignment_to_edit[5]) }}
            <div class="spacer"></div>
        
            <div class="spacer"></div>
            {{ form.submit(id="submitButton") }}
        </form>        
    </div>
</div>


<!-- Handling flash messages -->
{% for message in get_flashed_messages() %}
<div class="alert" role="alert" style="text-align: center; color: black; font-size: 25px;">{{ message }}</div>
{% endfor %}
{% endblock %}