<!-- Python's 'Flask' module uses the 'Jinja' web template engine to manage its template inheritance. -->

<!-- 'Index.html' is an extension of 'Base.html' -->
{% extends 'base.html' %}

<!-- Begin head -->
{% block head %}
<title>Forgot password Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_log_in.css') }}">
{% endblock %}
{% block body %}
<br><br><br><br><br>
<div class="box">
<h1>Forgot your password?</h1>
<form action="verify.php" method="post">
    <label for="username">Please enter your username to verify it is you:</label>
    <input type="text" id="username" name="username"><br><br>
    <button>Verify</button>
</form>
</div>
{% endblock %}