{% extends 'base_homepage.html' %}


{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
crossorigin="anonymous" 
referrerpolicy="no-referrer" />
<title>Monthly Calendar</title>
{% endblock %}
{% block body %}
<div class="navbar">
<ul>
    <li><a class="active" href="{{ url_for('homepage') }}">Home</a></li>
    <li><a href="{{ url_for('assessments') }}">Assessments</a></li>
    <li><a href="{{ url_for('study_mode') }}">Study Mode</a></li>
    <li><a href="{{ url_for('monthly_calendar') }}">Monthly Calendar View</a></li>
    <li><a href="#settings">Settings</a></li>
</ul>
</div>
<div class="container-home">
    <div class="middle">
        <div class="calendar">
            <div class="month">
                <button id="prevWeek"><i class="fa fa-angle-left prev"></i></button> 
                <span id="currentWeekRange"></span>
                <button id="nextWeek"><i class="fa fa-angle-right prev"></i></button> 
                </div>
            <div class="days"></div>

            <!--
            <div class="week"> previous attempt
            <div class="day">
                <h3>Monday</h3>
                <div class="event">Meeting at 10am</div>
            </div>
            <div class="day">
                <h3>Tuesday</h3>
            </div>
            <div class="day">
                <h3>Wednesday</h3>
            </div>
            <div class="day">
                <h3>Thursday</h3>
            </div>
            <div class="day">
                <h3>Friday</h3>
            </div>
            <div class="day">
                <h3>Saturday</h3>
            </div>
            <div class="day">
                <h3>Sunday</h3>
                <div class="event">CYBI-3343 Homework 2.3 due at 11:59 PM</div>
            </div>
        -->
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename = 'JS/script_weekly.js') }}"></script>
{% endblock %}