{% extends 'base_homepage.html' %}

{% block head %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create_assessment.css') }}">
  <title>Settings Dashboard</title>
{% endblock %}
{% block body %}
<div class="navbar-body">
  <div class="left">
      <div class="navbar">
          <ul>
              <li><a href="{{ url_for('homepage') }}">Home</a></li>
              <li><a href="{{ url_for('assignment_dash') }}">Assessments</a></li>
              <li><a href="{{ url_for('study_mode') }}">Study Mode</a></li>
              <li><a class="active" href="{{ url_for('settings') }}">Settings</a></li>
              <li><a href="{{ url_for('log_out') }}">Log Out</a></li>
          </ul>
      </div>
  </div>
</div>
<!-- Creating a form  with jinja formatting-->
<div class="container-body">
  <h1>Settings</h1>
  <div class="container">
    <div class="box2-container">
      <div class="box2">        
        <!--Elements created through jinja-->
        <div class="header"> 
          <span class="label">Username: </span>
          <span class="value">{{ name_to_update.user_Name }}</span>
        </div>
        <div class="header"> 
          <span class="label">User ID: </span>
          <span class="value">{{ name_to_update.user_ID }}</span>
        </div>
        <div class="header"> 
          <span class="label">Email: </span>
          <span class="value">{{ name_to_update.user_Email }}</span>
        </div>
        <div class="header"> 
          <span class="label">Phone Number: </span>
          <span class="value">{{ name_to_update.user_Phone }}</span>
        </div>
        <div class="switch-view-body">
          <div class="switch-view">
              <ul>
                  <li><a href="{{ url_for('settings_edit') }}">Edit Preferences</a></li>
                  <li><a href="{{ url_for('settings_edit') }}">Edit Account</a></li>
                  <li><a href="{{ url_for('settings_delete') }}" onclick="return confirm('Are you sure you want to delete your account?');">Delete Account</a></li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>
{% for message in get_flashed_messages() %}
<div class="alert" role="alert" style="color: black; font-size: 25px;">{{ message }}</div>
{% endfor %}

<!-- Handling flash messages -->
{% endblock %}
