{% extends 'base_homepage.html' %}

{% block head %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create_assessment.css') }}">
  <title>Settings Dashboard</title>
{% endblock %}
{% block body %}
<div class="navbar-body">
  <div class="left">
      <div class="navbar">
          <ul>
              <li><a href="{{ url_for('homepage') }}">Home</a></li>
              <li><a href="{{ url_for('assignment_dash') }}">Assessments</a></li>
              <li><a href="{{ url_for('study_mode') }}">Study Mode</a></li>
              <li><a class="active" href="{{ url_for('settings') }}">Settings</a></li>
              <li><a href="{{ url_for('log_out') }}">Log Out</a></li>
          </ul>
      </div>
  </div>
</div>
<!-- Creating a form  with jinja formatting-->
<div class="container-body">
  <h1>Settings</h1>
  <div class="container">
    <div class="box2-container">
      <div class="box2">        
        <!--Elements created through jinja-->
        <form action="/Homepage/Settings/Edit" method="POST">
          {{ form.hidden_tag() }}
          <div class="form">
            <span class="value">{{ form.new_username.label}}</span>
            <span class="value">{{ form.new_username(class="form-control", value=name_to_update.user_Name) }}</br></span>
          </div>
          <div class="form">
            <span class="value">{{ form.new_email.label}}</span>
            <span class="value">{{ form.new_email(class="form-control", value=name_to_update.user_Email)}}</br></span>
          </div>
          <div class="form">
            <span class="value">{{ form.new_phone.label}}</span>
            <span class="value">{{ form.new_phone(class="form-control", value=name_to_update.user_Phone)}}</br></span>
          </div>
          <div class="form">
            <span class="value">{{ form.new_password.label}}</span>
            <span class="value">{{ form.new_password(type="password")}}</br></span>
          </div>
          <div class="spacer"></div>
          {{ form.submit(id="submitButton") }}
        </form>
      </div>
    </div>
  </div>
  </div>
{% for message in get_flashed_messages() %}
<div class="alert" role="alert" style="color: black; font-size: 25px;">{{ message }}</div>
{% endfor %}

<!-- Handling flash messages -->
{% endblock %}
