{% extends 'base_homepage.html' %}

{% block head %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create_assessment.css') }}">
  <title>Settings Dashboard</title>
{% endblock %}
{% block body %}
<br><br><br><br><br>
<div class="box">
<h1>Successfully deleted your Account!</h1>
<div style="text-align: center">
    <p class="subText">Return to <a href="{{ url_for('log_in') }}">Log in Page</a></p>
    <p class="subText">Create a <a href="{{ url_for('Register') }}">new account</a></p>
    </div>
</div>


{% for message in get_flashed_messages() %}
<div class="alert" role="alert" style="color: black; font-size: 25px;">{{ message }}</div>
{% endfor %}

<!-- Handling flash messages -->
{% endblock %}
