{% extends 'base_homepage.html' %}

{% block head %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create_assessment.css') }}">
  <title>Settings Dashboard</title>
{% endblock %}
{% block body %}
<div class="navbar-body">
  <div class="left">
      <div class="navbar">
          <ul>
              <li><a href="{{ url_for('homepage') }}">Home</a></li>
              <li><a href="{{ url_for('assignment_dash') }}">Assessments</a></li>
              <li><a href="{{ url_for('study_mode') }}">Study Mode</a></li>
              <li><a class="active" href="{{ url_for('settings') }}">Settings</a></li>
              <li><a href="{{ url_for('log_out') }}">Log Out</a></li>
          </ul>
      </div>
  </div>
</div>

<!-- Creating a form  with jinja formatting-->
<div class="container-body">   
  <h1 style="padding-bottom: 25px; padding-top: 100px;">Edit Preferences</h1>
  <div class="box" style="height: 300px;">
      <form action="/Homepage/Settings/preferences" method="post">
          
          <!--Uses the SECRET_KEY to lock this page behind said key, to prevent CSRF attacks.-->
          {{ form.hidden_tag() }}

          <!--Elements created through jinja-->
          {{ form.study_time.label }}
          <div class="spacer"></div>
          {{ form.study_time }}
          <div class="spacer"></div>
          {{ form.break_time.label }}
          <div class="spacer"></div>
          {{ form.break_time }}
          <div class="spacer"></div>
          <div class="spacer"></div>
          {{ form.notifications.label }}
          <div class="spacer"></div>
          {{ form.notifications }}
          <div class="spacer"></div>
          <div class="spacer"></div>
          {{ form.submit(id="submitButton") }}
      </form>
  </div>
</div>

<!-- Handling flash messages -->
{% for message in get_flashed_messages() %}
<div class="alert" role="alert" style="text-align: center; color: black; font-size: 25px;">{{ message }}</div>
{% endfor %}
{% endblock %}
