{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename = 'js/functions.js') }}"></script>
{% endblock %}





{% block body %}
<div style="text-align: center;">
    <div class="Container" id="HeadBox">
        <h1 style="position: relative; bottom: 45%;"> Study Mode </h1>
    </div>

    
    <div class="Container" id="Timer">
        <h2>Timer</h2>
        <canvas id="TimerCanv" width="500" height="100"></canvas>
            
            <button class="Container" id="TimerButton" type = "button" onclick = "toggleDimness()">Pause</button>
        </canvas>
        
        
    </div>

    <p id="Tip"> Tip: Try putting on some relaxing music while you study! </p>
    
</div>
{% endblock %}