table
{
    border:2px solid white;
    width:30%;
}

th,td,tr{
    border:1px solid white;
}

th.name{
    border:1px solid white;
    text-align:center;
}

th.delete{
    border:1px solid white;
}

th.edit{
    border:1px solid white;  
}

tr:hover
{
    color: pink
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    font-family: 'Figtree', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
}

.container {
    position: relative;
    width: 1310px;
    min-height: 580px;
    margin: 0 auto;
    padding: 5px;
    color: #e9f7ec;
    display: flex;
    border-radius: 10px;
    background-color: #235c32;
}
.left {
    width: 60%;
    padding: 20px;
}

.calendar { /*the whole calendar section */
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #08160c;
    border-radius: 5px;
    background-color: #e9f7ec;
}

.container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}

a:visited
{
    color: white;
    /*background-color: white;*/
    text-decoration: none;

}

a:link{
    color: white;
    text-decoration: none;

}

a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
}

a:active{
    color: white;
    text-decoration: none;

}

input.del_button{
    background-color: #285136;
    color: #FFFFFF;/*FFFFFF99 another grey*/
    font-size: 20px;
    height: 30px;
    width: 100px;
    text-align: center;
  
}
