body {
    background-color: #285136;
    color: #FFFFFF;/*FFFFFF99 another grey*/
    font-family: 'Figtree', sans-serif;
    text-align: justify;
    padding: 150px;        /* To make box smaller */
}
h1, h2, h3 {
    color: black;
    text-align: center;
}
a, .link {
    color: #12A17C;
    text-decoration: none;
}
a:hover, .link:hover {
    color: #285136;
}
.navbar {
    position: absolute;
    top: 8px;
    left: 8px;
}
button {
    background-clip: border-box;
    background-color: #285136;
    color: #FFFFFF;
    border: none;
    font-size: 125%;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #285136;
}
.box {
    width: 30%;
    height: 50%;
    text-align: left;
    background-color: #010101;/*lighter black 111113 */
    border-radius: 5px;
    padding: 15px;
    margin: auto;
}

input.submit_button{
    background-color: #285136;
    color: #FFFFFF;/*FFFFFF99 another grey*/
    font-size: 20px;
    height: 30px;
    width: 100px;
}

body.dashboard
{
    background-color: #285136;
    color: #EAEDED;
    font-family: 'Arial', sans-serif;
}

div {
    background-color: snow;
    height: 500px;
    text-align: center;
    padding: 20px;
}
