.header{    
    font-family: Arial, sans-serif;
}

/* Element types */
body {
    background-color: #e2ebec;
    color: #060907;
    font-family: 'Figtree', sans-serif;
    text-align: center;
}
h1 {
    color: #060907;
    text-align: center;
    padding-top: 50px;
}
h2 {
    color: #060907;
    text-size-adjust: 16;
    text-align: center;

}   

p {
    color: #060907;
    text-align: center;

}

/* Class types */


.Container{
    background-color: #C3D5CE;
    border-radius: 30px;
    

}

.TimerNumbers{
    position: relative;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #060907;
    font-size: 100px;
    
}

/* Element IDs */
#HeadBox{
    position: relative;
    text-align: center;
    width: 300px;
    height: 80px;
    margin-bottom: 50px;
    left: 100px;
    box-shadow: 5px 5px 5px rgba(143, 180, 143, 0.699);
}

#Tip{
    position:fixed;
    bottom: 5px;
    left: 10px;
    text-align: center;
}

#TimerContainer{
    text-align: center;
    width: 500px;
    height: 200px;
    position: relative;
    box-shadow: 5px 5px 5px rgba(143, 180, 143, 0.699);
}
#TimerButton{
    position: relative;
    text-align: center;
    height: 30px;
    width: 125px;
    border-width: 1px;
    border-color: #a1c2b6;
    font-family: cursive;
    font-size: 20px;
    transform: translateY(-20px);
}

#NumContainer{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 25px;
    
}
#mainContent{
    text-align: center;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-250px, 100px);
}
