body {
    background-color: #e9f7ec;/*285136*/
    color: #c0e7cb;/*FFFFFF99 another grey*/
    font-family: 'Figtree', sans-serif;
    text-align: justify;
}
/*
--text: #08160c;
--background: #e9f7ec;
--primary: #235c32;f09d99
--secondary: #c0e7cb;
--accent: #3c9f57;f09d99
dark theme: 
--text: #e9f7ed;
--background: #08160b;
--primary: #a3dcb2;
--secondary: #183f23;
--accent: #60c37a;
*/
header {
    color: #08160c;
    text-align: center;
    display: inline;
    font-size: 40px;
}
header .current-date {
    font-size: 1.45rem;
    font-weight: 500%;
}
header .icons span{
    height: 38px; 
    width: 38px; 
    margin: 0 1px;
    cursor: pointer;
    color: #f09d99;
    background: #235c32;
    font-size: 1.9rem;
    text-align: center;
    line-height: 38px;
    border-radius: 38px;
}
header .icons span:hover {
    background: #f09d99;
    color: #235c32;
}
.wrapper {
    width: px;
}
.wrapper header{
    display: flex;
    align-items: center;
    padding: 5px 450px 5px;
    justify-content: space-between;
    text-align: center;
}
h2 {
    color: #c0e7cb;
    text-align: center;
}
h3 {
    color: #c0e7cb;
    text-align: center;
}
.navbar {
    position: static;
    top: 8px;
    left: 8px;    
    width: 100%;
    height: 50%;
    padding: 15px;
    margin: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    background-color: #285136;
    color: #f09d99;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #f09d99;
    color: #285136;
  }
.active {
    color: #285136;
    background-color: #f09d99;
}
button {
    background-clip: border-box;
    background-color: #235c32;
    color: #FFFFFF;
    border: none;
    font-size: 125%;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #285136;
}
.box {
    width: 30%;
    height: 50%;
    text-align: left;
    background-color: #285136;/*lighter black 111113 */
    border-radius: 5px;
    padding: 15px;
    margin: auto;
}
input[type="text"], textarea {
    background-color: #e9f7ec;
}
input[type="password"], textarea {
    background-color: #e9f7ec;
}
input[type="email"], textarea {
    background-color: #e9f7ec;
}
input[type="tel"], textarea {
    background-color: #e9f7ec;
}
input, select, textarea{
    color: #08160c;
}
textarea:focus, input:focus {
    color: #08160c;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.week { /*can remove this to have days 
    cover whole screen
    can be an idea */
    display: flex;
    flex-wrap: wrap; 
}

.day {
    flex: 1;
    background-color: #235c32;
    border: 1px solid #235c32;
    margin: 5px;
    padding: 10px;
    min-height: 150px;
}
.day .active {
    background-color: #235c32;
    color: #f09d99;
}

.event {
    background-color: #235c32;
    color: #f09d99;
    padding: 5px;
    margin: 5px 0;
    border-radius: 3px;
}