/*Navigation bar styles*/
.navbar-body {
    width: 100%;
    position: fixed;
    display: flex;
    top: 0px;
    padding: 0;
}
.navbar {
    margin: auto;
    left: 0px;
    position: relative;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: max-content;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    background-color: #285136;
    color: #f09d99;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #f09d99;
    color: #285136;
  }
.active {
    color: #285136;
    background-color: #f09d99;
}
/*End of navigation bar styles*/

/* Color Theme
--text: #08160c;
--background: #e9f7ec;
--primary: #235c32;
--secondary: #c0e7cb;
--accent: #3c9f57;f09d99
dark theme: 
--text: #e9f7ed;
--background: #08160b;
--primary: #a3dcb2;
--secondary: #183f23;
--accent: #60c37a;
*/
:root {
    --primary-clr: #235c32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9f7ec;
}

.container-body {
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    padding: 0px;
    width: 100%;
    height: auto;
}
.container {
    width: 1310px;
    max-width: 1400px;
    height: auto;
    max-height: 630px;
    padding: 5px;
    color: #e9f7ec;
    display: flex;
    border-radius: 10px;
    background-color: #235c32;
}

.left {
    width: 60%;
    padding: 20px;
}

.calendar { /*the whole calendar section */
    position: relative;
    width: 100%;
    height: auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #08160c;
    border-radius: 5px;
    background-color: #e9f7ec;
}

.calendar .month { /*Month display*/
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.75rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}/* above and below, when hover cursor and change of color on arrows*/
.calendar .month .prev:hover,
.calendar .month .next:hover { 
    color: #3c9f57;
}

.calendar .weekdays { /*how the weekdays are formatted*/
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.50rem;
    font-weight: 500;
    text-transform: capitalize;
}

.weekdays div {
    width: 14.28%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days{ /*how each indivdual day is formatted*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 20px;
    height: auto;
}

.calendar .days .day{ /*customization of each individual day*/
    width: 14.28%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    color: #08160c;
    border: 1px solid #c0e7cb;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
    color: #e9f7ec;
    background-color: var(--primary-clr);  /*whenever you hover over any day (part of the month*/
}

.calendar .days .prev-date,
.calendar .days .next-date {
    color: #08160c28;/*color: #B2BEB5; days not part of month*/
    background-color: #b2beb571;
}

.calendar .days .active { 
    position: relative;
    font-size: 2rem;
    color: #e9f7ec;
    background-color: var(--primary-clr);
}

.calendar .days .active::before { 
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);
}

.calendar .days .today { 
    font-size: 2rem;
}

.calendar .days .event {
    position: relative;
}
.calendar .days .event::after { 
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background: #3c9f57;
}

.calendar .days .day:hover.event::after { 
    background-color: #e9f7ec;
}

.calendar .days .active.event::after { 
    background-color: #e9f7ec;
    bottom: 20%;
}

.calendar .days .active.event {
    padding-bottom: 10px;
}

.container .right {
    position: relative;
    width: 40%;
    height: 100%;
    padding: 20px 0;
}

.right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
    color: #e9f7ec;
}

.today-date .event-date {
    font-size: 1.25rem;
    font-weight: 400;
    color: #3c9f57;
}

.events {
    width: 100%;
    height: 90%;
    max-height: 600px;
    min-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.events .event {
    position: relative;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: #e9f7ec;
    /*background-color:rgba(255,0,0,0.3); change the background color on the right*/
}

.events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
}

.events .event .title .event-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 10px;
}

.events .event i {
    color: #f09d99;
    font-size: 0.5rem;
}

.events .event .event-description {
    color: #e9f7ec;
    font-size: 1.25rem;
}
.events .event .event-time {
    font-size: 1rem;
    font-weight: 400;
    color: #f09d99;
    pointer-events: none;
}

.events .no-event {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.container-home {
    position: relative;
    width: 500px;
    min-height: 300px;
    height: auto;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.middle {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
}
.settings-body {
    display: flex;
    padding: 5px;
    text-align: center;
    height: 100%;
    width: 100%;

}

.switch-view-body {
    height: 10%;
    padding: 10px;
    width: 100%;
    position: relative;

}
.alert{
    position: absolute;
    text-align: center;
    color: black;
    font-size: 25px;
}