html{
    min-height:100%;
    
}
body {
    height: 100vh;
    margin: 0px;
    display: flex;
    font-family: 'Figtree', sans-serif;
    text-align: justify;
    overflow: hidden;
}
/*
--text: #08160c;
--background: #e9f7ec;
--primary: #235c32;f09d99
--secondary: #c0e7cb;
--accent: #3c9f57;f09d99
*/
h1, h2, h3 {
    color: #c0e7cb;
}
h2{
    font-weight: 400;
    font-size: medium;
}
a, .link {
    color: #3c9f57;
    text-decoration: none;
}
a:hover, .link:hover {
    color: #f09d99;
}
button {
    background-clip: border-box;
    background-color: #1e4f2b;
    color: #3c9f57;
    border-color: #235c32;
    border-width: 1px;
    font-size: 125%;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    color: #f09d99;
}
p{
    color: #08160c;
}

input{
    height: 30px;
    width: 250px;
    font-size: 15px;
}

.box {
    width: max-content;
    max-width: 400px;
    height: auto;
    text-align: left;
    background-color: #235c32;/*lighter black 111113 */
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 0px 20px rgba(21, 65, 32, 0.835);
}
input[type="text"], textarea {
    background-color: #e9f7ec;
}
input[type="password"], textarea {
    background-color: #e9f7ec;
}
input[type="email"], textarea {
    background-color: #e9f7ec;
}
input[type="tel"], textarea {
    background-color: #e9f7ec;
}
input, select, textarea{
    color: #08160c;
}
textarea:focus, input:focus {
    color: #08160c;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.center {
    text-align: center;
}
.spacer{
    padding-bottom: 15px;
}
.formError{
    position: absolute;
    color: rgb(221 51 12);
}

#submitButton{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #08160c;
    border-width: 1px;
    text-align: center;
    background-color: #2b6e3d;
}

#solidHalf{
    background-color: #c0e7cb;
    height: 100%;
    width: 35%;
    min-width: 30%;
}
#bgImage{
    object-fit: cover;
    width: 110%;
    height: 100%;
}
#imgContainer{
    position: relative;
}
#textBlock {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    bottom: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
  }